*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #009688 0px, #009688 100px, #d7dbd8 100px,  #d7dbd8 1000px)
}
.container-ws{
    height: 1000px;
}
.bg-grey{
    background-color: #eaeaea;
}
i, li{
    color: grey;
}
img{
    width: 45px;
    border-radius: 50%
}
.bg-azure{
    background-color: #8edafc ;
    font-size: 10px;
}
.bell{
    color: grey;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px
}

.item{
    background-color: white;
}
.sfondo-chat{
    height: calc(100% - 120px);
    background-image: url("../img/mine.jpg");
    
}
ul{
    margin-bottom: 0px;
}
.font-small{
    color: grey;
    font-size: 10px
}

.content-head{
    height: 60px;
    justify-content: space-between
}

.sent{
    padding:  10px;
    width: 40%;
    background-color:#d5f9ba;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    border-radius: 10px;
    margin: 10px ;
    float:right;
    
}
.received{
    padding:  10px;
    width: 40%;
    background-color:white;
    justify-content: flex-end;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.border-right{
    border-right: 1px solid rgb(204, 203, 203);
}
.cursor{
    cursor: pointer;
}
.cursor:hover{
    background-color: rgb(214, 212, 212, 0.5)
}
.clearfix {
    clear: right;
  }
.icon-dropdown{
    opacity: 0
}
.message-hover:hover .icon-dropdown{
    opacity: 1
}
